<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".activites.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activites.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".activites.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activites.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".activites.PdfDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activites.PdfEditActivity"
            android:exported="false" />
        <activity
            android:name=".activites.PdfListAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activites.PdfAddActivity"
            android:exported="false" />
        <activity
            android:name=".activites.CategoryAddActivity"
            android:exported="false" />
        <activity
            android:name=".activites.DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activites.DashboardUserActivity"
            android:exported="false" />
        <activity
            android:name=".activites.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activites.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activites.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activites.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>